WORDPRESS_VERSION=
WORDPRESS_CONTAINER_NAME=
WORDPRESS_PORT=
WORDPRESS_URL=
PRODUCTION_URL=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
WORDPRESS_DB_HOST=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=
WORDPRESS_DB_NAME=
WORDPRESS_AUTH_KEY=
WORDPRESS_SECURE_AUTH_KEY=
WORDPRESS_LOGGED_IN_KEY=
WORDPRESS_NONCE_KEY=
WORDPRESS_AUTH_SALT=
WORDPRESS_SECURE_AUTH_SALT=
WORDPRESS_LOGGED_IN_SALT=
WORDPRESS_NONCE_SALT=
WORDPRESS_TABLE_PREFIX=
WORDPRESS_DEBUG=
MAILPIT_PORT_SMTP=
MAILPIT_PORT_WEB=
ADMINER_PORT=
TRAEFIK_HTTP_PORT=
TRAEFIK_HTTPS_PORT=
TRAEFIK_DASHBOARD_PORT=